
.icon-clouds:before { content: '\e800'; } /* '' */
.icon-cloud-1:before { content: '\e801'; } /* '' */
.icon-cloudapp:before { content: '\e802'; } /* '' */
.icon-cloud-2:before { content: '\e803'; } /* '' */
.icon-cloud-3:before { content: '\e804'; } /* '' */
.icon-cloud:before { content: '\e805'; } /* '' */
.icon-rain:before { content: '\e806'; } /* '' */
.icon-rain-1:before { content: '\e807'; } /* '' */
.icon-cloud-sun:before { content: '\e808'; } /* '' */
.icon-sun:before { content: '\e809'; } /* '' */
.icon-cloud-sun-1:before { content: '\e80a'; } /* '' */
.icon-mist:before { content: '\e80b'; } /* '' */
.icon-snow-heavy:before { content: '\e80c'; } /* '' */
.icon-drizzle:before { content: '\e80d'; } /* '' */
.icon-rain-2:before { content: '\e80e'; } /* '' */
.icon-search-1:before { content: '\e80f'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
